{% extends 'layout.html.twig' %}

{% block banner %}
    {% include 'banner.html.twig' %}

{% endblock %}

{% block form %}
    <div class="container-fluid">
        <h1  style="  color: #fff;
                  text-shadow:
                    0 0 1px #fff,
                    0 0 2px #fff,
                    0 0 4px #fff,
                    0 0 8px #ffe101,
                    0 0 16px #ffe101,
                    0 0 32px #ffd204,
                    0 0 64px #ffdf04,
                    0 0 128px #ffe905;"
             class="d-flex justify-content-center m-5">Envoie-nous ta photo en déguisement d'Halloween !!!</h1>
        <div class="column">
            <div>
                <div class="column">
                    <div class="d-flex justify-content-center m-5">
                        <h4 style="   font-size: 25px;
                                  color: #fff;
                                  text-shadow:
                                    0 0 1px #fff,
                                    0 0 2px #fff,
                                    0 0 4px #fff,
                                    0 0 8px #fff,
                                    0 0 16px #fff,
                                    0 0 32px #fff,
                                    0 0 64px #fff,
                                    0 0 128px #fff;" >Choisis ta meilleure photo déguisé(e) pour Halloween et partage-la !</h4><br>

                    </div>
                    <div class="d-flex justify-content-center m-5">
                        <h4 style="       font-size: 25px;
                                  color: #fff;
                                  text-shadow:
                                    0 0 1px #fff,
                                    0 0 2px #fff,
                                    0 0 4px #fff,
                                    0 0 8px #fff,
                                    0 0 16px #fff,
                                    0 0 32px #fff,
                                    0 0 64px #fff,
                                    0 0 128px #fff;" >Nous voulons avoir <i>PEEEEEUR</i> !!!</h4>
                    </div>
                </div>
            </div>

            <div>
                <div class="d-flex justify-content-center m-5">
                    <form action="upload.php" method="post" enctype="multipart/form-data" style="
                                  font-size: 25px;
                                  color: #fff;
                                  text-shadow:
                                    0 0 1px #fff,
                                    0 0 2px #fff,
                                    0 0 4px #fff,
                                    0 0 8px #fff,
                                    0 0 16px #fff,
                                    0 0 32px #fff,
                                    0 0 64px #fff,
                                    0 0 128px #fff;" >
                        Choisis ta photo ici :
                        <input type="file" name="fileToUpload" id="fileToUpload">
                        <br><br>Clique ensuite sur Upload Image :
                        <input type="submit" value="Upload Image" name="submit" class="btn btn-outline-light">
                    </form>
                </div>
                <div class="d-flex justify-content-center m-5">
                    <form class="h-100 d-inline-block" action="_form.html.twig" method="post" style="
                                  font-size: 25px;
                                  color: #fff;
                                  text-shadow:
                                    0 0 1px #fff,
                                    0 0 2px #fff,
                                    0 0 4px #fff,
                                    0 0 8px #fff,
                                    0 0 16px #fff,
                                    0 0 32px #fff,
                                    0 0 64px #fff,
                                    0 0 128px #fff;" >
                        <label for="msg">Donne un titre à ta photo :</label>
                        <textarea id="msg" name="description"
                                  placeholder="Description..."></textarea>
                    </form>
                </div>
                <div class="d-flex justify-content-center m-5">
                    <h4 style="       font-size: 25px;
                                  color: #fff;
                                  text-shadow:
                                    0 0 1px #fff,
                                    0 0 2px #fff,
                                    0 0 4px #fff,
                                    0 0 8px #fff,
                                    0 0 16px #fff,
                                    0 0 32px #fff,
                                    0 0 64px #fff,
                                    0 0 128px #fff;" ><i>La suite ci-dessous....</i></h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}





{% block content %}

    <section class="gallery">
        <div class="container">
            <div class="row">
                <div class="col-md-12 ml-md-auto text-center">
                    <h2 class="font-alt heading">Halloween Gallery</h2>
                </div>

                <div class="col-12 col-md-3 gallery-padding">
                    <div class="gallery-img">

                                {% for monster in monsters %}
                                {% if (monster.id == 2)%}
                                <img src="{{ monster.picture }}" class="img-fluid" alt="">
                                {% endif %}
                                {% endfor %}
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1">
                            <label class="form-check-label" for="exampleRadios1">
                                <h2>Wild Momie</h2>
                            </label>
                        </div>
                    </div>
                </div>


                <div class="col-12 col-md-3 gallery-padding">
                    <div class="gallery-img gallery-1">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1">
                            <label class="form-check-label" for="exampleRadios1">
                                <h2>Blooddy Ricker</h2>
                            </label>
                        </div>
                            {% for monster in monsters %}
                            {% if (monster.id == 4)%}
                                <img src="{{ monster.picture }}" class="img-fluid" alt="">
                            {% endif %}
                            {% endfor %}
                    </div>
                </div>

                <div class="col-12 col-md-3 gallery-padding">
                    <div class="gallery-img">
                            {% for monster in monsters %}
                            {% if (monster.id == 5)%}
                                <img src="{{ monster.picture }}" class="img-fluid" alt="">
                            {% endif %}
                            {% endfor %}
                        </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1">
                        <label class="form-check-label" for="exampleRadios1">
                            <h2>Horror Fantsma</h2>
                        </label>
                    </div>

                    </div>
                <div class="col-12 col-md-3 gallery-padding">
                    <div class="gallery-img gallery-1">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1">
                            <label class="form-check-label" for="exampleRadios1">
                                <h2>Tukang sihir</h2>
                            </label>
                        </div>
                        
                            {% for monster in monsters %}
                            {% if (monster.id == 7)%}
                                <img src="{{ monster.picture }}" class="img-fluid" alt="">
                            {% endif %}
                            {% endfor %}
                        </div>
                </div>
                <div class="col-12 col-md-3 gallery-padding">
                    <div class="gallery-img">
                        
                            {% for monster in monsters %}
                                {% if (monster.id == 15)%}
                                    <img src="{{ monster.picture }}" class="img-fluid" alt="">
                                {% endif %}
                            {% endfor %}
                        </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                        <label class="form-check-label" for="exampleRadios1">
                            <h2>Vampire Sherk</h2>
                        </label>
                    </div>
                    </div>
                <div class="col-12 col-md-3 gallery-padding">
                    <div class="gallery-img gallery-1">

                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1">
                            <label class="form-check-label" for="exampleRadios1">
                                <h2>Vania Santosha</h2>
                            </label>
                        </div>
                            {% for monster in monsters %}
                                {% if (monster.id == 16)%}
                                    <img src="{{ monster.picture }}" class="img-fluid" alt="">
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                <div class="col-12 col-md-3 gallery-padding">
                    <div class="gallery-img">
                        
                            {% for monster in monsters %}
                                {% if (monster.id == 18)%}
                                    <img src="{{ monster.picture }}" class="img-fluid" alt="">
                                {% endif %}
                            {% endfor %}
                        </div>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1">
                        <label class="form-check-label" for="exampleRadios1">
                            <h2>Horror Fantsma</h2>
                        </label>
                    </div>

                    </div>
                <div class="col-12 col-md-3 gallery-padding">
                    <div class="gallery-img gallery-1">

                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1">
                            <label class="form-check-label" for="exampleRadios1">
                                <h2>Tukang sihir</h2>
                            </label>
                        </div>
                        
                            {% for monster in monsters %}
                                {% if (monster.id == 20)%}
                                    <img src="{{ monster.picture }}" class="img-fluid" alt="">
                                {% endif %}
                            {% endfor %}
                        </div>
                </div>
            </div>
        </div>
        </div>
    </section>
{% endblock %}
